<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	aria-hidden="true" th:fragment="novaDespesaModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nova despesa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form th:action="@{/operacao/despesa/salvar}" th:object="${operacao}" method="POST">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="descricao">Descrição:</label>
							<input placeholder="Descrição" type="text" class="form-control" th:field="*{descricao}">
						</div>
						<div class="form-group col-md-4">
							<label for="valor">Valor:</label>
							<input placeholder="R$ 0,00" th:field="*{valor}" class="form-control" type="text" />
						</div>
					</div>
					<div class="form-row">
<!-- 						<div class="form-group col-md-6"> -->
<!-- 							<label for="inputCity">Data vencimento</label> -->
<!-- 							<input type= -->
<!-- 							"date" class="form-control" id="inputCity"> -->
<!-- 						</div> -->
<!-- 						<div class="form-group col-md-6"> -->
<!-- 							<label for="inputCity">Data pagamento</label> -->
<!-- 							<input type= -->
<!-- 							"date" class="form-control" id="inputCity"> -->
<!-- 						</div> -->
						<div class="form-group col-md-5">
							<label for="categoria">Categoria:</label>
							<select th:field="*{categoria}" class="form-control">
								<option value="">Selecione...</option>
								<option value="1">moradia</option>
								<option value="2">alimentação</option>
								<option value="3">educação</option>
								<option value="4">roupa</option>
								<option value="5">saúde</option>
								<option value="6">transportes</option>
								<option value="7">pagamentos</option>
								<option value="8">lazer</option>
							</select>
						</div>
						<div class="form-group col-md-5">
							<label for="subcategoria">Sub-categoria:</label>
							<select th:field="*{subcategoria}" class="form-control">
								<option value="">Selecione...</option>
								<option value="1">luz</option>
								<option value="2">água</option>
								<option value="3">condomínio</option>
								<option value="4">supermercado</option>
								<option value="5">internet</option>
								<option value="6">móveis</option>
								<option value="7">reforma</option>
								<option value="8">outros</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="toggle-event">Status:</label><br />
							<input value="0" id="toggle-event" type="checkbox" checked 
								data-toggle="toggle" 
								data-on="Pago" data-off="Pendente" 
								data-onstyle="success" data-offstyle="danger" 
								data-width="120" 
								data-height="38">
						</div>
						
						
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-3">		
							<label for="fonte">Fonte:</label><br />					
							<select th:field="*{fonte}" class="form-control">			
								<option value="">Selecione...</option>
								<option  th:each="fonte : ${T(br.com.start.model.enums.Fonte).values()}" th:text="${fonte.getDescricao()}" th:value="${fonte}"></option>
								<!--
								<option value="1">Carteira</option>
								<option value="2">Conta-Corrente</option>
								<option value="3">Poupança</option>
								-->
							</select>
						</div>
						<div class="form-group col-md-9">
							<label for="comprovante">Comprovante:</label>
							<div class="custom-file">
								<input id="anexoComprovante" type="file" class="custom-file-input" data-browse="Upload">
								<label class="custom-file-label" for="customFile">Anexar comprovante</label>
							</div>
						</div>
					</div>				
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>