<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
	aria-hidden="true" th:fragment="novaDespesaModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Nova despesa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form th:action="@{/operacao/despesa/salvar}" th:object="${operacao}" method="POST" enctype="multipart/form-data">
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="descricao">Descrição:</label>
							<input placeholder="Descrição" type="text" class="form-control" th:field="*{descricao}">
						</div>
						<div class="form-group col-md-4">
							<label for="valor">Valor:</label>
							<input placeholder="R$ 0,00" th:field="*{valor}" class="form-control" type="text" />							
						</div>
					</div>
					<div class="form-row">
<!-- 						<div class="form-group col-md-6"> -->
<!-- 							<label for="inputCity">Data vencimento</label> -->
<!-- 							<input type= -->
<!-- 							"date" class="form-control" id="inputCity"> -->
<!-- 						</div> -->
<!-- 						<div class="form-group col-md-6"> -->
<!-- 							<label for="inputCity">Data pagamento</label> -->
<!-- 							<input type= -->
<!-- 							"date" class="form-control" id="inputCity"> -->
<!-- 						</div> -->
						<div class="form-group col-md-4">
							<label for="categoria">Categoria:</label>
							<select id="categoria" th:field="*{categoria}" class="form-control select2">
								<option  th:each="categoria : ${categorias}" th:text="${categoria.descricao}" th:value="${categoria.id}"></option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="subcategoria">Sub-categoria:</label>
							<select id="subcategoria" th:field="*{subcategoria}" class="form-control select2">
								<option  th:each="subcategoria : ${subcategorias}" th:text="${subcategoria.descricao}" th:value="${subcategoria.id}"></option>>
							</select>
						</div>
						<div class="form-group col-md-4">		
							<label for="fonte">Fonte:</label><br />							
							<select id="fonte" th:field="*{fonte}" class="form-control select2">
								<option th:each="fonte : ${fontes}" th:text="${fonte.descricao}" th:value="${fonte}"></option>
							</select>
						</div>
						
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-2">
							<label for="toggle-event">Status:</label><br />
							<input id="toggle-event" type="checkbox" th:field="*{pago}" th:value="${pago} != null ? 'PAGO' : 'PENDENTE'"
								data-toggle="toggle" 
								data-on="Pago" data-off="Pendente" 
								data-onstyle="success" data-offstyle="danger" 
								data-width="120" 
								data-height="38">
						</div>					
						<div class="form-group col-md-10">
							<label for="comprovante">Comprovante:</label>
							<div class="custom-file">
								<input name="file" type="file" class="custom-file-input" data-browse="Upload">
								<label class="custom-file-label" for="anexoComprovante">Anexar comprovante</label>
							</div>
						</div>
					</div>				
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>